<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="content">            
            <input type="text" class="inputtxt">
            <select name="" id="typesearch">
                <option value="name">name</option>
                <option value="ingredients">ingredients</option>
            </select>
            <button id='search'>search</button>
            <div class="row clearfix">
                <% for(const cocktls of cocktailList) { %>  
                    <div class="card product_item col-lg-3 col-md-4 col-sm-12">
                        <div class="body">
                            <div class="cp_img">
                                <img src="<%=cocktls.image %>" alt="cocktls" class="img-fluid">
                                <div class="hover">
                                    <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                                </div>
                            </div>
                            <h5 id="idcatagories" style="overflow:hidden;"><%=cocktls.category %></h5>
                            <div class="product_details">
                                <h5 class="product-name" style="color: blue;"><%=cocktls.name %></h5>
                                <h5 class="product-quality" style="color: red;"> <%=cocktls.instruction %></h5>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
        </div>
        
        <button name="change">Change</button>
        <button id='new'>new</button>
    </div>
</body>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../public/js/cocktail.js"></script>
</html>